<div class="container-main">
    <mat-toolbar color="" class="menu mat-elevation-z5">
        <div class="options">
            <mat-icon>traffic</mat-icon>
        </div>
    </mat-toolbar>

    <div class="container">



        <div class="semaforo" *ngFor="let acceso of accesos">
            <mat-form-field>
                <input matInput placeholder="RFID" [(ngModel)]="acceso.tag">
            </mat-form-field>
            <div class="btn">
                <button mat-button (mousedown)="abrir(acceso)" (mouseout)="cancelAbrir()" (mouseup)="cancelAbrir()">Abrir Pluma-{{acceso.id}}</button>
            </div>
            <div class="res">
                <div [style.color]="acceso.response">
                    <mat-icon>directions_car</mat-icon>
                </div>
                <div class="switch">
                    <mat-slide-toggle [(ngModel)]="acceso.status" [color]="'primary'"></mat-slide-toggle>
                </div>
            </div>
        </div>



    </div>

</div>
