.container-main{
    height: 100vh;
    .menu{
        background-color: #01579B;
        color: #ffffff;
        display: flex;
        justify-content: center;
        .options{

        }
    }
    .container{
        padding: 2rem 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        
        .semaforo{
            margin: 2rem 0;
            .btn{
                justify-content: center;
                margin: 1rem 0;
                button{
                    width: 100%;
                }
            }
           .res{
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .green{
                    color: green;
                }
                .red{
                    color: red;
                }
           }
        }
    }
}